.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(135deg, #e3f2fd, var(--primary-main));
	max-height: 100vh;

	.loginWrapper {
		display: flex;
		background: #fff;
		padding: 32px;
		border-radius: 12px;
		box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
		max-width: 900px;
		width: 100%;
		overflow: auto;
		max-height: 100vh;

		&::-webkit-scrollbar {
			width: 6px;

			&-track {
				background: #f1f1f1;
				border-radius: 10px;
			}

			&-thumb {
				background: #888;
				border-radius: 10px;

				&:hover {
					background: #555;
				}
			}
		}

		.loginContent {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			padding: 32px;

			.logo {
				display: flex;
				justify-content: center;
				cursor: pointer;
			}

			.loginTitle {
				font-size: 28.8px;
				font-weight: 600;
				color: #333;
				margin-bottom: 8px;
			}

			.loginLabel {
				color: #666;
				margin-bottom: 24px;
				text-align: center;
			}

			.loginAction {
				width: 100%;
				padding: 12.8px;
				border: 1px solid #ddd;
				background: #fff;
				transition: 0.3s;

				.loginDesc {
					font-weight: 500;
					color: #333;
				}
			}

			.formGroup {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 12px;
				margin-top: 16px;
			}

			.inputWrapper {
				display: flex;
				position: relative;
				width: 100%;

				.formInput {
					width: 100%;
					padding: 16px;
					border: 1px solid #ddd;
					border-radius: 6px;
					font-size: 17px;
					transition: border 0.3s;

					&:focus {
						border-color: var(--primary-main);
						outline: none;
						box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
					}
				}

				.eyeIcon {
					position: absolute;
					right: 10px;
					top: 50%;
					transform: translateY(-50%);
					cursor: pointer;
					width: 20px;
				}
			}

			.errorMsg {
				display: block;
				color: red;
				font-size: 13px;
				margin-left: 3px;
			}

			.contentWrapper {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				margin: 16px 0;

				.formCheckbox {
					margin-right: 8px;
				}

				.formText {
					font-size: 14.4px;
					color: #555;
				}

				.formForgot {
					color: var(--primary-main);
					text-decoration: none;
					font-size: 14.4px;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.actions {
				width: 100%;
				margin-top: 16px;

				.btnLogin {
					width: 100%;
					padding: 14.4px;
					font-size: 16px;
					font-weight: 600;
					transition: background 0.3s;

					&:hover {
						opacity: 0.9;
					}
				}
			}

			.loginAccount {
				margin-top: 16px;
				text-align: center;

				.loginNot {
					color: #666;
					font-size: 14.4px;
				}

				.loginFree {
					color: #000;
					text-decoration: none;
					font-weight: 600;
					margin-left: 5px;

					&:hover {
						color: var(--primary-main);
						transition: 0.3s;
					}
				}
			}
		}

		.media {
			width: 50%;
			position: relative;

			.loginMedia {
				border-radius: 0 12px 12px 0;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}

	@media (max-width: 768px) {
		.loginWrapper {
			flex-direction: column;
			align-items: center;
			text-align: center;

			.loginContent {
				width: 100%;
				padding: 32px 24px;
			}

			.media {
				display: none;
			}
		}
	}
}
