.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(135deg, #e3f2fd, var(--primary-main));
	max-height: 100vh;

	.resetWrapper {
		display: flex;
		background: #fff;
		padding: 32px;
		border-radius: 12px;
		box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
		max-width: 900px;
		width: 100%;
		overflow: auto;
		max-height: 100vh;

		&::-webkit-scrollbar {
			width: 6px;

			&-track {
				background: #f1f1f1;
				border-radius: 10px;
			}

			&-thumb {
				background: #888;
				border-radius: 10px;

				&:hover {
					background: #555;
				}
			}
		}

		.resetContent {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			padding: 60px;

			.logo {
				display: flex;
				justify-content: center;
				cursor: pointer;
			}

			.resetTitle {
				font-size: 28.8px;
				font-weight: 600;
				color: #333;
				margin-bottom: 8px;
			}

			.resetLabel {
				color: #666;
				margin-bottom: 24px;
				text-align: center;
			}

			.formGroup {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 12px;
				margin-top: 16px;
			}

			.inputWrapper {
				display: flex;
				position: relative;
				width: 100%;

				.formInput {
					width: 100%;
					padding: 16px;
					border: 1px solid #ddd;
					border-radius: 6px;
					font-size: 17px;
					transition: border 0.3s;

					&:focus {
						border-color: var(--primary-main);
						outline: none;
						box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
					}
				}

				.eyeIcon {
					position: absolute;
					right: 10px;
					top: 50%;
					transform: translateY(-50%);
					cursor: pointer;
				}
			}

			.errorMsg {
				display: block;
				color: red;
				font-size: 13px;
				margin-left: 3px;
			}

			.actions {
				width: 100%;
				margin-top: 16px;

				.btnReset {
					width: 100%;
					padding: 14.4px;
					font-weight: 600;
					transition: 0.3s;

					&:hover {
						opacity: 0.9;
					}
				}
			}

			.resetAccount {
				margin-top: 16px;
				text-align: center;

				.resetFree {
					color: #000;
					text-decoration: none;
					font-weight: 600;

					&:hover {
						color: var(--primary-main);
						transition: 0.3s;
					}
				}
			}

			.resendOtpButton {
				margin-top: 10px;
				background: transparent;
				color: #000;
				font-weight: 500;
				padding: 0;
			}
		}

		.media {
			width: 50%;
			position: relative;

			.resetMedia {
				border-radius: 0 12px 12px 0;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}

	@media (max-width: 768px) {
		.resetWrapper {
			flex-direction: column;
			align-items: center;
			text-align: center;

			.resetContent {
				width: 100%;
				padding: 32px 24px;
			}

			.media {
				display: none;
			}
		}
	}
}
