.main {
	display: grid;
	grid-template-columns: 240px 1fr;
	gap: 40px;
	max-width: 1440px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	// flex: 1;
}

.imageGallery {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 100%;
		height: auto;
		object-fit: cover;
		border-radius: 10px;
	}
}
