.pagination {
	display: flex;
	align-items: center;
	margin-top: 20px;
	padding: 20px 0;
	gap: 20px;
}

.pageNumbers {
	display: flex;
}

.pageButton {
	padding: 4px 10px;
	margin: 0 2px;
	border: 1px solid #ddd;
	background: #fff;
	cursor: pointer;
	transition: background 0.1s ease, color 0.3s ease;
}

.pageButton.active {
	background: #405189;
	color: #fff;
}

.totalItems {
	font-size: 14px;
}

.limitSelect select {
	padding: 6px 10px;
	border-radius: 6px;
	border: 1px solid #ccc;
	background-color: #fff;
	font-size: 14px;
	margin-left: 8px;
}
