.hero {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 80px 20px;
	max-width: 1440px;
	margin: 40px auto;

	background: linear-gradient(90deg, #ff7d2c, #f37138);
	border-radius: 15px;
	color: #fff;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

	@media (max-width: 768px) {
		flex-direction: column;
		text-align: center;
		padding: 40px 20px;
	}
}

.heroContent {
	padding: 0 50px;
	flex: 1;

	h1 {
		font-size: 42px;
		font-weight: bold;
		margin-bottom: 15px;
	}

	p {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.groupBtn {
		display: flex;
		justify-content: flex-start;

		@media (max-width: 768px) {
			justify-content: center;
			margin: 10px;
		}

		.ctaButton {
			padding: 12px 24px;
			background: #fff;
			color: var(--primary-main);
			font-weight: 600;
			transition: 0.3s;

			&:hover {
				transform: scale(1.04);
			}
		}
	}
}

.heroImage {
	flex: 1;
	display: flex;
	justify-content: center;

	.image {
		border-radius: 15px;
		box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
		transition: transform 0.3s ease-in-out;
		object-fit: cover;
	}
}
