.menuTab {
	width: 250px;
	height: 100vh;
	background: #fff;
	box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
	padding: 10px;
	display: flex;
	flex-direction: column;

	.closeButton {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 20px;
		cursor: pointer;
		z-index: 1001;
		@media (min-width: 769px) {
			display: none;
		}
	}

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
	}

	.menuList {
		li {
			margin-bottom: 10px;
			border-radius: 8px;

			.menuItem {
				display: flex;
				align-items: center;
				text-decoration: none;
				color: #23262f;
				font-weight: 500;
				padding: 10px 15px;
				border-radius: 8px;
				transition: 0.1s ease-in-out;

				svg {
					margin-right: 10px;
					color: #888;
				}

				&:hover {
					background: var(--gradient-blue-red);

					color: #fff;

					svg {
						color: #fff;
					}
				}
			}

			&.active {
				background: var(--gradient-blue-red);

				color: #fff;

				.menuItem {
					color: #fff;

					svg {
						color: #fff;
					}
				}
			}
		}
	}
}
