.formGroup {
	padding: 20px;
	background: #ebebf0;
	border-radius: 8px;
	width: 100%;
}

.title {
	font-size: 24px;
	margin-bottom: 20px;
	color: #333;
	font-weight: 600;
}

.inputGroup {
	margin-bottom: 15px;
}

.label {
	display: block;
	margin-bottom: 5px;
	font-weight: 600;
}

.inputWrapper {
	position: relative;
	display: flex;
	align-items: center;
}

.input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
}

.togglePassword {
	position: absolute;
	right: 10px;
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
	padding: 5px;
}

.groupBtn {
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: center;

	.submitButton {
		background: var(--gradient-blue-red);
		padding: 10px 20px;
		transition: 0.3s;
	}
}
